@page "/"

<PageTitle>Formata N° Processo</PageTitle>

<h1>Formate o Número de Processo</h1>

<p role="status">@currentCount</p>

<button class="btn btn-success" @onclick="IncrementCount">COPIAR</button>

@code {
    private string currentCount = string.Empty;

    private void IncrementCount()
    {
        "Copiado! 🗂️";
    }
}
