@page "/"

<PageTitle>About Me</PageTitle>

<h1>🧑 Matheus Delmondes da Conceição</h1>

<h2>💻 Software Engineer and RPA Developer</h2>

<p>I am currently in my final year pursuing a Bachelor's degree in Analysis and Systems Development at IFRR. Since 2018, I have been deeply immersed in Dotnet and automation technologies. My aspiration is to evolve into an exceptional solutions developer with the capability to tackle any technology or challenge. While I have a strong proficiency in C# and Dotnet, I also have prior experience working with Java. Additionally, I have undertaken some studies in Python, specifically for automation tasks, including RPA, Machine Learning, and Artificial Intelligence. I am also well-versed in Typescript, Angular, JavaScript, both in Node.js and React.</p>
<hr />

<h2>🛠 Skills</h2>

<ul>
    <li>C#</li>
    <li>Dotnet</li>
    <li>UiPath</li>
    <li>Java</li>
    <li>Python</li>
    <li>JavaScript</li>
</ul>
<hr />

<h2>🎨 Tecnologies</h2>

<img src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white" alt="C#">
<img src="https://img.shields.io/badge/.NET-512BD4?style=for-the-badge&logo=.net&logoColor=white" alt=".NET">
<img src="https://img.shields.io/badge/WinForms-5C2D91?style=for-the-badge&logo=windows&logoColor=white" alt="WinForms">
<img src="https://img.shields.io/badge/WPF-854DBE?style=for-the-badge&logo=windows&logoColor=white" alt="WPF">
<img src="https://img.shields.io/badge/Blazor-512BD4?style=for-the-badge&logo=blazor&logoColor=white" alt="Blazor">
<img src="https://img.shields.io/badge/Blazor_WASM-512BD4?style=for-the-badge&logo=blazor&logoColor=white" alt="Blazor WASM">
<img src="https://img.shields.io/badge/Blazor_Server-512BD4?style=for-the-badge&logo=blazor&logoColor=white" alt="Blazor Server">
<img src="https://img.shields.io/badge/MAUI-512BD4?style=for-the-badge&logo=dotnet&logoColor=white" alt="MAUI">
<img src="https://img.shields.io/badge/ASP.NET-512BD4?style=for-the-badge&logo=dotnet&logoColor=white" alt="ASP.NET">
<img src="https://img.shields.io/badge/ASP.NET_Core-512BD4?style=for-the-badge&logo=dotnet&logoColor=white" alt="ASP.NET Core">
<img src="https://img.shields.io/badge/ASP.NET_MVC-512BD4?style=for-the-badge&logo=dotnet&logoColor=white" alt="ASP.NET MVC">
<img src="https://img.shields.io/badge/Xamarin-3498DB?style=for-the-badge&logo=xamarin&logoColor=white" alt="Xamarin">
<img src="https://img.shields.io/badge/UiPath-00BFFF?style=for-the-badge&logo=uipath&logoColor=white" alt="UiPath">
<img src="https://img.shields.io/badge/UiPath_Orchestrator-00BFFF?style=for-the-badge&logo=uipath&logoColor=white" alt="UiPath Orchestrator">
<img src="https://img.shields.io/badge/UiPath_DataServices-00BFFF?style=for-the-badge&logo=uipath&logoColor=white" alt="UiPath DataServices">
<img src="https://img.shields.io/badge/Java-007396?style=for-the-badge&logo=java&logoColor=white" alt="Java">
<img src="https://img.shields.io/badge/Swing-007396?style=for-the-badge&logo=java&logoColor=white" alt="Swing">
<img src="https://img.shields.io/badge/Spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white" alt="Spring">
<img src="https://img.shields.io/badge/JPA-007396?style=for-the-badge&logo=java&logoColor=white" alt="JPA">
<img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python">
<img src="https://img.shields.io/badge/Python_RPA-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python RPA">
<img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white" alt="Flask">
<img src="https://img.shields.io/badge/Bottle-008000?style=for-the-badge&logo=python&logoColor=white" alt="Bottle">
<img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white" alt="Django">
<img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="JavaScript">
<img src="https://img.shields.io/badge/Node.js-339933?style=for-the-badge&logo=node.js&logoColor=white" alt="Node.js">
<img src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white" alt="TypeScript">
<img src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white" alt="Angular">
<img src="https://img.shields.io/badge/PostgreSQL-336791?style=for-the-badge&logo=postgresql&logoColor=white" alt="PostgreSQL">
<img src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=mysql&logoColor=white" alt="MySQL">
<img src="https://img.shields.io/badge/SQL_Server-CC2927?style=for-the-badge&logo=microsoft-sql-server&logoColor=white" alt="SQL Server">
<img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="HTML">
<img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="CSS">
<img src="https://img.shields.io/badge/XAML-0C54C2?style=for-the-badge&logo=xaml&logoColor=white" alt="XAML">
<img src="https://img.shields.io/badge/JSON-000000?style=for-the-badge&logo=json&logoColor=white" alt="JSON">
<img src="https://img.shields.io/badge/XML-00599C?style=for-the-badge&logo=xml&logoColor=white" alt="XML">
<img src="https://img.shields.io/badge/YAML-000000?style=for-the-badge&logo=yaml&logoColor=white" alt="YAML">
<img src="https://img.shields.io/badge/RAZOR-512BD4?style=for-the-badge&logo=razor&logoColor=white" alt="RAZOR">
<img src="https://img.shields.io/badge/XHTML-1660A7?style=for-the-badge&logo=xhtml&logoColor=white" alt="XHTML">

<hr />
<h2>📞 Contact</h2>

<ul>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/matheus-delmondes-7260b6221/">Matheus Delmondes</a></li>
    <li>Email: mdelmondes5@gmail.com</li>
    <li>Instagram: <a href="https://www.instagram.com/dev_matheusdelmondes/">@@dev_MatheusDelmondes</a></li>
</ul>
